<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CADisableMinimumFrameDurationOnPhone</key>
        <true />
        <key>CFBundleDevelopmentRegion</key>
        <string>en</string>
        <key>CFBundleLocalizations</key>
        <array>
            <string>en</string>
            <string>uk</string>
        </array>
        <key>CFBundleExecutable</key>
        <string>$(EXECUTABLE_NAME)</string>
        <key>CFBundleIdentifier</key>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>$(PRODUCT_NAME)</string>
        <key>CFBundlePackageType</key>
        <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0</string>
        <key>CFBundleVersion</key>
        <string>1</string>
        <key>LSRequiresIPhoneOS</key>
        <true />
        <key>UIApplicationSceneManifest</key>
        <dict>
            <key>UIApplicationSupportsMultipleScenes</key>
            <false />
        </dict>
        <key>UILaunchScreen</key>
        <dict />
        <key>UIRequiredDeviceCapabilities</key>
        <array>
            <string>armv7</string>
        </array>
        <key>UISupportedInterfaceOrientations</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>
        <key>UISupportedInterfaceOrientations~ipad</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
            <string>UIInterfaceOrientationPortraitUpsideDown</string>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>
        <key>GIDClientID</key>
        <string>28935847922-pubg212r7pr5pkr2ju2la6dqhslp3vhg.apps.googleusercontent.com</string>
        <key>GIDServerClientID</key>
        <string>28935847922-s0ebsvd1u368v68kdvi28s079q7b9vnt.apps.googleusercontent.com</string>
        <key>GIDRedirectURI</key>
        <string>
            com.googleusercontent.apps.28935847922-pubg212r7pr5pkr2ju2la6dqhslp3vhg:/oauthredirect
        </string>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>
                        com.googleusercontent.apps.28935847922-pubg212r7pr5pkr2ju2la6dqhslp3vhg
                    </string>
                </array>
            </dict>
        </array>
    </dict>
</plist>
